#propertiesContainer {
    /* height: 100%; */
}

.propertyInput {
    display: flex;
    gap: 15px;
}

.selectInputText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}